<div class="container">
    <div class="text-section">
      <h1 class="title">Mejora y optimiza el mantenimiento de equipos médicos con EQUIPMED
      </h1>
      <p class="paragraph">
        EquipMed es una plataforma especializada en la gestión del mantenimiento de equipos médicos para tus clientes. Simplifica la administración, optimiza el seguimiento de cada intervención y mejora la eficiencia de tus procesos, asegurando un servicio de alta calidad y la satisfacción de tus clientes.
      </p>
      <button class="action-button">Haz clic aquí para saber más</button>
    </div>
    <div class="image-section">
      <img src="assets/img/portatil.png" alt="Imagen de ejemplo" />
    </div>
  </div>
  