<div id="section-services"  class="services-container">
    <div class="service service-background-1">
      <div class="service-content left-align">
        <h2>Mantenimiento Preventivo</h2>
        <p>Realizamos inspecciones y mantenimientos regulares para asegurar que tus equipos biomédicos funcionen correctamente y evitar posibles fallas. Nuestro enfoque preventivo garantiza que los dispositivos operen con precisión y estén siempre listos para su uso.</p>
        <button class="action-button">Saber más</button>
      </div>
      <img src="assets/img/img-1.png" alt="Imagen 1 del servicio">
    </div>
  
    <div class="service service-background-2">
      <img src="assets/img/img-2.png" alt="Imagen 2 del servicio">
      <div class="service-content righ">
        <h2>Mantenimiento Correctivo</h2>
        <p>En caso de que algún equipo presente una falla, nuestro equipo de técnicos está disponible para realizar reparaciones rápidas y eficaces, minimizando el tiempo de inactividad y asegurando que los equipos vuelvan a estar operativos lo antes posible.</p>
        <button class="action-button2">Saber más</button>
      </div>
    </div>
  
    <div class="service service-background-3">
      <div class="service-content left-align">
        <h2>Generación de Informes</h2>
        <p>Con nuestro aplicativo, podrás generar informes detallados sobre el estado y mantenimiento de tus equipos, facilitando la toma de decisiones y asegurando el cumplimiento de normativas.</p>
        <button class="action-button ">Saber más</button>
      </div>
      <img src="assets/img/img-3.png" alt="Imagen 3 del servicio">
    </div>
  </div>
  